<p-toast></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-6 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="../../../../assets/images/rmutt_logo.png" alt="Image" height="195" width="120" class="mb-3">
                    <div class="text-900 text-2xl font-medium mb-3">ระบบจัดการครุภัณฑ์และแจ้งซ่อม</div>
                </div>
                <form [formGroup]="userForm">
                    <label for="email1" class="block text-900 mb-2">
                        อีเมล<span style="color: red;">*</span>
                    </label>
                    <input id="email1" type="email" formControlName="email" placeholder="Email address" pInputText class="w-full md:w-30rem" style="padding:1rem" [class.ng-invalid]="userForm.get('email').invalid">    
                    <div class="flex justify-content-end mb-5">
                        <small class="text-red-500 mt-1" *ngIf="userForm.get('email').invalid && userForm.get('email').dirty">กรุณากรอกอีเมลที่ถูกต้อง</small>
                    </div>

                    <label for="password1" class="block text-900 mb-2">รหัสผ่าน<span style="color: red;">*</span></label>
                    <input id="password1" type="password" formControlName="password" placeholder="Password" [maxlength]="20" pInputText class="w-full md:w-30rem" style="padding:1rem">
                    <div class="flex justify-content-end mb-2">
                        <small class="text-red-500 mt-1" *ngIf="userForm.get('password').dirty && userForm.get('password').invalid">กรุณากรอกรหัสผ่านที่ถูกต้อง</small>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1" style="font-size: 12px; color: var(--surface-700)">Remember me</label>
                        </div>
                        <div class="flex align-items-end gap-2">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" (click)="onOpenDialog($event)">สมัครสมาชิก</a>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)"(click)="onOpenDialogforgetpass($event)">ลืมรหัสผ่าน?</a>
                        </div>
                    </div>
                    <button pButton pRipple label="เข้าสู่ระบบ" class="w-full p-3 text-xl" [disabled]="userForm.get('email').value == null || userForm.get('password').value == null" (click)="onLogin()"></button>
                </form>
            </div>
        </div>
    </div>
</div>


<app-resgiter [visible]="open"></app-resgiter>
<app-forgetpass [visible]="openforget"></app-forgetpass>