<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="../../assets/images/20210202-logo-RMUTT-News.png" alt="logo"> -->
        <span class="ml-2 text-white">DRE System</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars text-white"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button text-white" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu gap-3" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <button class="p-link layout-topbar-button text-white">
            <i class="pi pi-user"></i>
        </button>
        <div class="flex justify-content-center align-items-center">
            <p style="font-size: 18px;">คุณ {{username}}</p>
        </div>
        <button class="p-link layout-topbar-button text-white" (click)="onLogOut()">
           <span class="mr-3"> ออกจากระบบ </span> <i class="pi pi-sign-out"></i>
        </button>
    </div>
</div>  