<div class="button-panel-end mb-2 gap-2 mt-5">
    <button type="button" label="Success" class="p-button-danger p-button" (click)="onSelectCheckBox()">
        <span class="p-button-label"
            >ลบข้อมูล <i class="pi pi-trash ml-2"></i
        ></span>
    </button>
    <button type="button" label="Success" class="p-button-success p-button" [routerLink]="['save']">
        <span class="p-button-label"
            >เพิ่มข้อมูล <i class="pi pi-plus ml-2"></i
        ></span>
    </button>
</div>

<p-table
    [value]="users"
    [paginator]="true"
    [columns]="cols"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="{first} to {last} of {totalRecords}"
    [rowsPerPageOptions]="[5, 10, 25]"
    responsiveLayout="stack"
    styleClass="p-datatable-striped"
    [(selection)]="SelectCheckBox"
>
    <ng-template pTemplate="header" let-Colums>
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of Colums">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user"(onChange)="onSelectUser(user)" ></p-tableCheckbox>
            </td>
            <td class="text-center">
                <i class="pi pi-trash cursor-pointer sm:m-0 md:mr-3 text-red-500 text-lg" pTooltip="ลบเธอกจากหัวใจไม่ได้เลย" tooltipPosition="top" (click)="onDeleteInRow(user.id)"></i>
                <i class="pi pi-file-edit cursor-pointer sm:m-0 md:mr-3 text-purple-500 text-lg"pTooltip="แก้ไข" tooltipPosition="top"(click)="onEdit(user.id)"></i>
                <i class="pi pi-eye cursor-pointer text-pink-500 text-lg" pTooltip="ดูข้อมูล" tooltipPosition="top" (click)="onOpenDialog($event, user.id)"></i>
            </td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.created_at | date:'dd/MM/yyyy' }}</td>
        </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="18" style="text-align: center">ไม่พบข้อมูล</td>
        </tr>
      </ng-template>
</p-table>

