<p-card class="c-body">
    <p class="m-0 px-4 py-0">
        <!-- <router-outlet></router-outlet> -->
        <qrcode
            [qrdata]="myAngularxQrCode"
            [width]="256"
            [errorCorrectionLevel]="'M'"
            (qrCodeURL)="onChangeURL($event)"
        ></qrcode>
        <button type="button" label="Success" class="p-button p-button-info">
            <a [href]="qrCodeDownloadLink" download="qrcode" style="color: white;">Download</a>
        </button>
    </p>
</p-card>
