<div class="grid" [formGroup]="searchForm">
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="firstname" class="block text-lg">
            ชื่อจริง
        </label>
        <input type="text" pInputText class="w-full" formControlName="firstname"/>
    </div>
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="lastname" class="block text-lg">
            นามสกุล
        </label>
        <input type="text" pInputText class="w-full" formControlName="lastname"/>
    </div>
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="email" class="block text-lg">
            อีเมล
        </label>
        <input type="text" pInputText class="w-full" formControlName="email"/>
    </div>
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="username" class="block text-lg">
            ชื่อผู้ใช้งาน
        </label>
        <input type="text" pInputText class="w-full" formControlName="username"/>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <label for="role" class="block text-lg ">
            ตำแหน่ง
        </label>
        <input type="text" pInputText class="w-full" formControlName="role"/>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <label for="createAt" class="block text-lg">
            วันที่เริ่มต้น
        </label>
        <p-calendar [showIcon]="true" [showButtonBar]="true" ></p-calendar>
    </div>
</div>

<div class="gap-2 mt-3 button-panel">
    <button type="button" label="Success" class="p-button p-button-info">
        <span class="p-button-label">ค้นหา <i class="pi pi-search ml-2"></i></span>
    </button>
    <button type="button" label="Success" class="p-button p-button-warning">
        <span class="p-button-label">ล้างข้อมูล <i class="pi pi-eraser ml-2"></i></span>
    </button>
</div>