<div class="grid">
    <div class="col-12 md:col-6 lg:col-4 mt-5">
        <label for="equipmentName" class="block text-lg mb-2">
            ชื่อครุภัณฑ์ <span style="color: red;">*</span>
        </label>
        <input type="text" pInputText  class="w-full"/>
    </div>
    <div class="col-12 md:col-6 lg:col-4 mt-5">
        <label for="location" class="block text-lg mb-2">
            สถานที่ 
        </label>
        <input type="text" pInputText  class="w-full"/>
    </div>
    <div class="col-12 md:col-6 md:m-0 lg:col-4 lg:mt-5">
        <label for="branchInfo" class="block text-lg mb-2">
            สาขา 
        </label>
        <input type="text" pInputText  class="w-full"/>
    </div>
    <div class="col-12 md:col-3 lg:col-2">
        <label for="roomNumber" class="block text-lg mb-2">
            เลขที่ห้อง
        </label>
        <input type="text" pInputText  class="w-full"/>
    </div>
    <div class="col-12 md:col-3 lg:col-2">
        <label for="budgetYear" class="block text-lg mb-2">
            ปีงบประมาณ
        </label>
        <input type="text" pInputText  class="w-full"/>
    </div>
</div>