<div class="grid" [formGroup]="searchForm">
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="equipmentId" class="block text-lg"> รหัสครุภัณฑ์ </label>
        <p-inputMask
            mask="9-999-9999-999-9999/99-99(9)"
            formControlName="equipmentId"
            placeholder="x-xxx-xxxx-xxx-xxxx/xx-xx(x)"
            [style]="{ width: '100%', 'letter-spacing': '1.5px' }"
        ></p-inputMask>
    </div>
    <div class="col-12 md:col-6 lg:col-4 lg:mt-5">
        <label for="equipmentName" class="block text-lg"> ชื่อครุภัณฑ์ </label>
        <input
            type="text"
            pInputText
            class="w-full"
            formControlName="equipmentName"
            placeholder="กรอกชื่อครุภัณฑ์"
        />
    </div>
    <div class="col-12 md:col-6 lg:col-3 lg:mt-5">
        <label for="location" class="block text-lg"> สถานที่ </label>
        <input
            type="text"
            pInputText
            class="w-full"
            formControlName="locationName"
            placeholder="กรอกสถานที่"
        />
    </div>
    <div class="col-12 md:col-6 md:m-0 lg:col-3">
        <label for="branchInfo" class="block text-lg"> สาขา </label>
        <input
            type="text"
            pInputText
            class="w-full"
            formControlName="branchInfo"
            placeholder="กรอกสาขา"
        />
    </div>
    <div class="col-12 md:col-6 lg:col-2">
        <label for="roomNumber" class="block text-lg"> เลขที่ห้อง </label>
        <input
            type="text"
            pInputText
            class="w-full"
            formControlName="roomNumber"
            placeholder="กรอกเลขห้อง"
        />
    </div>
    <div class="col-12 md:col-3">
        <label for="budgetYear" class="block text-lg"> ปีงบประมาณ </label>
        <p-calendar
            [showIcon]="true"
            [showButtonBar]="true"
            formControlName="budgetYear"
            [style]="{ width: '100%' }"
            placeholder="ปีงบประมาณที่เริ่มต้น"
        ></p-calendar>
    </div>
</div>

<div class="gap-2 mt-3 button-panel">
    <button
        type="button"
        label="Success"
        class="p-button p-button-info"
        (click)="onSearch()"
    >
        <span class="p-button-label"
            >ค้นหา <i class="pi pi-search ml-2"></i
        ></span>
    </button>
    <button
        type="button"
        label="Success"
        class="p-button p-button-warning"
        (click)="onClear()"
    >
        <span class="p-button-label"
            >ล้างข้อมูล <i class="pi pi-eraser ml-2"></i
        ></span>
    </button>
</div>
