<app-search-form
    [searchForm]="searchForm"
    (onSearchEvent)="onSearch()"
    (onClearEvent)="onClear()"
></app-search-form>

<app-search-table
    [cols]="cols"
    [equipments]="equipments"
    (onDeleteInRowEvent)="onDelete($event)"
    (onEditEvent)="onEdit($event)"
    (onSelectInRowEvent)="onSelectCheckBox($event)"
    (onOpenDialogEvent)="onOpenDialog($event)"
></app-search-table>

<!-- (onSelectViewInRowEvent)="onGetViewId($event)" -->


<p-toast></p-toast>
<p-confirmDialog #cd [style]="{ width: '25vw' }">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="ยกเลิก" class="p-button-danger" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="ตกลง" class="p-button-success" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<app-view-dialog [visible]="visible" [viewForm]="viewForm" [showImage]="showImage"></app-view-dialog>