<p-dialog [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '75vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h4 style="width: 100%;">
           ข้อมูลครุภัณฑ์
        </h4>
    </ng-template>
    <ng-template pTemplate="body">
        <div class="grid" [formGroup]="viewForm">
            <div class="col-12 md:col-12 lg:col-2">
                <label for="equipmentid" class="block text-lg mb-2">
                    รหัสครุภัณฑ์
                </label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="equipmentid"
                    [maxlength]="7"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-4">
                <label for="equipmentname" class="block text-lg mb-2">
                    ชื่อครุภัณฑ์
                </label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="equipmentname"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-4">
                <label for="locationname" class="block text-lg mb-2"> สถานที่ </label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="locationname"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-3">
                <label for="branchinfo" class="block text-lg mb-2"> สาขา </label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="branchinfo"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-2">
                <label for="roomnumber" class="block text-lg mb-2"> เลขที่ห้อง </label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="roomnumber"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-2">
                <label for="roomnumber" class="block text-lg mb-2"> วันที่เริ่มต้น</label>
                <input
                    type="text"
                    pInputText
                    class="w-full"
                    formControlName="budgetYear"
                />
            </div>
            <div class="col-12 md:col-12 lg:col-12">
                <label for="description" class="block text-lg mb-2"> ลายละเอียด </label>
                <textarea
                    type="text"
                    pInputTextarea
                    class="w-full"
                    rows="5"
                    cols="30"
                    [autoResize]="true"
                    [maxLength]="500"
                    formControlName="description"
                ></textarea>
            </div>
            <div class="col-12 md:col-12 lg:col-6 mb-3" *ngIf="showImage">
                <img [src]="showImage" alt="previewImage" id="previewImage" class="w-full" />
            </div>
        </div>
    </ng-template>
</p-dialog>