/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

// body {
//     font-family: 'Kanit', sans-serif !important;
// }

/* เพิ่มเอง */
.dre-pink {
    background-color: #fa5e92;
    border-color: #fa5e92;
}
.dre-pink:enabled:hover {
    background-color: #ff387a;
    border-color: #fa5e92;
}

.button-panel {
  display: flex;
  justify-content: center;
}

.button-panel-end {
  display: flex;
  justify-content: flex-end;
}

// ปุ่ม 
@media screen and (max-width: 375px), screen and (max-width: 414px), screen and (max-width: 431px) {
  .button-panel {
    flex-direction: column;
  }

  .button-panel-end {
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
  }
}


// แก้ไขปุ่ม icon ใน table
@media screen and (max-width: 820px) {
  #pr_id_3-table > .p-datatable-tbody > tr > td {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: flex-start !important;
    gap: 20px;
  }
}



/* =============== */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
// @import "assets/demo/styles/flags/flags.css";
// @import "assets/demo/styles/badges.scss";
// @import "assets/demo/styles/code.scss";
