/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

// body {
//     font-family: 'Kanit', sans-serif !important;
// }


/* เพิ่มเอง */
.dre-pink {
    background-color: #fa5e92;
    border-color: #fa5e92;
  }
.dre-pink:enabled:hover {
    background-color: #ff387a;
    border-color: #fa5e92;
}

.button-panel {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: -8px;
  &-right {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: -8px;
  }
  &-left {
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      margin-top: -8px;
  }
}
/* =============== */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
// @import "assets/demo/styles/flags/flags.css";
// @import "assets/demo/styles/badges.scss";
// @import "assets/demo/styles/code.scss";