/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Bai Jamjuree';
  src: 
    url('./assets/fonts/BaiJamjuree-Regular.ttf') format('truetype'),
    url('./assets/fonts/BaiJamjuree-Bold.ttf') format('truetype'),
    url('./assets/fonts/BaiJamjuree-ExtraLight.ttf') format('truetype'),
    url('./assets/fonts/BaiJamjuree-Light.ttf') format('truetype'),
    url('./assets/fonts/BaiJamjuree-Medium.ttf') format('truetype'),
    url('./assets/fonts/BaiJamjuree-SemiBold.ttf') format('truetype');
}

* {
  font-family: 'Bai Jamjuree', sans-serifม -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", monaco, Consolas, monospace;
}

/* เพิ่มเอง */
.dre-pink {
    background-color: #fa5e92;
    border-color: #fa5e92;
}
.dre-pink:enabled:hover {
    background-color: #ff387a;
    border-color: #fa5e92;
}

.button-panel {
  display: flex;
  justify-content: center;
}

.button-panel-end {
  display: flex;
  justify-content: flex-end;
}

// ปุ่ม 
@media screen and (max-width: 375px), screen and (max-width: 414px), screen and (max-width: 431px) {
  .button-panel {
    flex-direction: column;
  }

  .button-panel-end {
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
  }
}

// แก้ไขปุ่ม icon ใน table
@media screen and (max-width: 920px){
  .p-datatable-tbody > tr > td {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: flex-start !important;
    gap: 15px;
  }
}

/* =============== */
$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
// @import "assets/demo/styles/flags/flags.css";
// @import "assets/demo/styles/badges.scss";
// @import "assets/demo/styles/code.scss";
